.module {
  min-width: 250px;
  min-height: 350px;
  position: relative;
  overflow: hidden;
  margin: 20px 10px;
  background-size: 100% 100%;
  cursor: pointer;
}

.module-movie-details{
  margin: 20px;
}

.screen {
  background: #fff;
  height: 70px;
  width: 70%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}
